<div class="flex flex-col flex-auto min-w-0 bg-[F9f9fb]">
    <!-- Main -->

    <div class="flex-auto p-6 sm:p-10">
        <div class="w-full">
            <div class="w-full my-2">
                <p class="flex items-center gap-x-2">
                    <mat-icon
                        svgIcon="mat_outline:error_outline"
                        class="icon-size-5"
                    ></mat-icon>
                    <span class="text-gray-500 text-2xl">
                        {{
                            "profile_page.Profile_Information"
                                | transloco
                                | titlecase
                        }}</span
                    >
                </p>
            </div>

            <form
                [formGroup]="profileForm"
                class="w-full grid grid-cols-2 gap-x-8 px-4"
            >
                <div class="col-span-2 md:col-span-1 grid">
                    <p
                        class="flex items-center gap-x-2 my-4 sm:col-span-2 sm:row-span-1"
                    >
                        <span class="text-black font-bold text-3xl">
                            {{
                                "profile_page.information_hint-title"
                                    | transloco
                                    | titlecase
                            }}</span
                        >
                    </p>
                    <!-- first name  -->
                    <div class="sm:col-span-2 sm:row-span-1">
                        <mat-form-field class="w-full">
                            <mat-label>{{
                                "profile_page.first_name" | transloco
                            }}</mat-label>
                            <input
                                [formControlName]="'first_name'"
                                matInput
                                [placeholder]="
                                    'profile_page.first_name' | transloco
                                "
                            />
                            <mat-error>{{
                                "profile_page.required_field" | transloco
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- last name  -->
                    <div class="sm:col-span-2 sm:row-span-1">
                        <mat-form-field class="w-full">
                            <mat-label>{{
                                "profile_page.last_name" | transloco
                            }}</mat-label>
                            <input
                                [formControlName]="'last_name'"
                                matInput
                                [placeholder]="
                                    'profile_page.last_name' | transloco
                                "
                            />
                            <mat-error>{{
                                "profile_page.required_field" | transloco
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- gender with brithday -->
                    <div
                        class="sm:col-span-2 grid sm:grid-cols-2 gap-x-4 sm:row-span-1"
                    >
                        <div class="sm:col-span-1">
                            <mat-form-field class="w-full">
                                <mat-label>{{
                                    "profile_page.gender" | transloco
                                }}</mat-label>
                                <mat-select
                                    [formControlName]="'Gender'"
                                    [placeholder]="
                                        'profile_page.gender' | transloco
                                    "
                                >
                                    <mat-option
                                        *ngFor="let type of gender"
                                        [value]="type.value"
                                    >
                                        <span class="ml-3">{{
                                            type.label | transloco | titlecase
                                        }}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error>{{
                                    "profile_page.required_field" | transloco
                                }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="w-full">
                                <mat-label>{{
                                    "profile_page.brithday" | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    [matDatepicker]="picker"
                                    [formControlName]="'dop'"
                                />

                                <mat-datepicker-toggle
                                    matIconSuffix
                                  
                                    [for]="picker"
                                >
                                    </mat-datepicker-toggle
                                >
                                <mat-datepicker
                                    #picker
                                    color="primary"
                                ></mat-datepicker>
                                <mat-error>{{
                                    "profile_page.required_field" | transloco
                                }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="sm:col-span-2 sm:row-span-1">
                        <mat-form-field class="w-full">
                            <mat-label>{{
                                "profile_page.address" | transloco
                            }}</mat-label>
                            <input
                                [formControlName]="'Address'"
                                matInput
                                [placeholder]="
                                    'profile_page.address' | transloco
                                "
                            />
                            <mat-error>{{
                                "profile_page.required_field" | transloco
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- email address -->
                    <div class="sm:col-span-2 sm:row-span-1">
                        <mat-form-field class="w-full">
                            <mat-label>{{
                                "profile_page.email_address" | transloco
                            }}</mat-label>
                            <input
                                [formControlName]="'Email_address'"
                                matInput
                                [placeholder]="
                                    'profile_page.email_address' | transloco
                                "
                            />
                            <mat-error>{{
                                "profile_page.required_field" | transloco
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-span-2 md:col-span-1 grid">
                    <div class="w-full sm:col-span-2 sm:row-span-3">
                        <div
                            class="w-full flex flex-col justify-center items-center"
                        >
                            <p class="my-2 text-gray-500 text-xl">
                                {{
                                    "profile_page.photo_profile"
                                        | transloco
                                        | titlecase
                                }}
                            </p>
                            <div class="relative">
                                <img
                                    class="w-40 h-40 rounded-full object-cover ring-4 ring-bg-card"
                                    [src]="
                                        imageSrc
                                            ? imageSrc
                                            : 'assets/images/avatars/male-04.jpg'
                                    "
                                    alt="User avatar"
                                />
                                <input
                                    [multiple]="false"
                                    accept="image/*"
                                    type="file"
                                    hidden
                                    (change)="
                                        uploadAvatar(avatarFileInput.files)
                                    "
                                    #avatarFileInput
                                />
                                <button
                                    type="button"
                                    (click)="avatarFileInput.click()"
                                    class="rounded-lg absolute bottom-0 right-0 bg-white"
                                    mat-icon-button
                                >
                                    <mat-icon
                                        svgIcon="mat_outline:edit"
                                        class="icon-size-5"
                                    ></mat-icon>
                                </button>
                            </div>

                            <p class="my-4 text-gray-500 text-xl">
                                {{ "@username" }}
                            </p>
                        </div>
                    </div>
                    <!-- position -->
                    <div class="sm:col-span-2 sm:row-span-1">
                        <mat-form-field class="w-full">
                            <mat-label>{{
                                "profile_page.position" | transloco
                            }}</mat-label>
                            <input
                                [formControlName]="'postion'"
                                matInput
                                [placeholder]="
                                    'profile_page.position' | transloco
                                "
                            />
                            <mat-error>{{
                                "profile_page.required_field" | transloco
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- WorkPhone -->
                    <div class="sm:col-span-2 sm:row-span-1">
                        <mat-form-field class="w-full">
                            <mat-label>{{
                                "profile_page.work_phone" | transloco
                            }}</mat-label>
                            <input
                                [formControlName]="'WorkPhone'"
                                matInput
                                [placeholder]="
                                    'profile_page.work_phone' | transloco
                                "
                            />
                            <mat-error>{{
                                "profile_page.required_field" | transloco
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2 sm:row-span-1">
                        <mat-form-field class="w-full">
                            <mat-label>{{
                                "profile_page.mobile_phone" | transloco
                            }}</mat-label>
                            <input
                                [formControlName]="'mobile_phone'"
                                matInput
                                [placeholder]="
                                    'profile_page.mobile_phone' | transloco
                                "
                            />
                            <mat-error>{{
                                "profile_page.required_field" | transloco
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-span-2 flex justify-end">
                    <div class="w-1/2 flex gap-x-4 px-8">
                        <button
                            color="accent"
                            mat-stroked-button
                            type="button"
                            class="rounded w-1/2 fuse-mat-button-large"
                        >
                            {{ "common.cancle" | transloco | titlecase }}
                        </button>
                        <button
                            mat-flat-button
                            type="button"
                            (click)="submit_profile()"
                            color="primary"
                            class="rounded w-1/2 fuse-mat-button-large text-lg"
                        >
                            {{ "common.save" | transloco | titlecase }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
